fastapi==0.111.0
uvicorn==0.29.0
pymongo
motor
sqlalchemy
pandas
numpy
scikit-learn
langchain
langchain-community
langchain-groq
langchain-core
langchain-text-splitters
faiss-cpu
python-dotenv
pydantic
pydantic-settings
python-multipart
aiofiles
httpx
joblib
openai